[*]
end_of_line = lf
charset = utf-8

# Code files
[*.cs,*.csx,*.js,*.jsx,*.ts,*,tsx,*.css,*.scss]
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
max_line_length = 140
quote_type = double
curly_bracket_next_line = true
spaces_around_operators = true
spaces_around_brackets = true
indent_brace_style = Allman
continuation_indent_size = 4

[*.xml]
indent_style = space
